[user]
  email = alvaro@trexx.io
	name = Álvaro Nieto

[merge]
	tool = meld

[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[mergetool "kdiff3"]
    cmd = kdiff3 "$BASE" "$LOCAL" "$REMOTE" --output "$MERGED"
    trustExitCode = false

[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
	tool = meld

[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[difftool "diffuse"]
    cmd = diffuse "$LOCAL" "$REMOTE"

[core]
	editor = nvim
  excludesfile = ~/.gitignore_global
	attributesfile = /home/ang/.gitattributes
